@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Jost", sans-serif;
    border: none;
    outline: none;
    font-family: Jost;
    scroll-behavior: smooth;
    
}
html,body{
height: 100%;
width: 100%;
}
body{
    overflow-x: hidden;
    
}
/* #time, #slider-cont, #om {
    margin-bottom: 20px; /* optional: adds space between the sections */
#om1{
    position: relative;
    margin-top: 15px;
}
#om2{
  position: relative;
  margin-top: 10px;
}
#om3{
  position: relative;
  margin-top: 10px;
}
#time{
    /* height: 100%; */
    width: 100%;
    /* background-image: url(https://images.unsplash.com/photo-1717297808345-b740e9846158?q=80&w=3256&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover; */
    /* background-color: black; */
    z-index: 1;
    /* display: flex; */
    /* flex-direction: row; */

    
}
#mainwaladiv{
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
}



#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 50px;
    color: #fff;
    background-image: linear-gradient(to right, red , orange,yellow,rgb(216, 68, 4));
}

    
#nav h2{
    font-size: 35px;
}
#nav i{
    font-size: 30px;
    font-weight: 800;
    cursor: pointer;
}
#full{
    height: 100%;
    width: 30%;
    position: absolute;
    background-color: #ffffff77;
    top: 0;
    right: -30%;
    backdrop-filter: blur(20px);
    padding: 150px 60px;
}
#full h4{
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 35px;
}
#full i{
    position: absolute;
    top: 5%;
    right: 10%;
    background-color: #fff;
    border-radius: 50%;
    padding: 10px;
    font-weight: 800;
    font-size: 25px;
    cursor: pointer;
}
.search {
  width: 330px;
  float: left;
  margin-left: 270px;
  position: absolute;
  right: 10%;
}

.srch {
  font-family: "Jost", sans-serif;
  width: 200px;
  height: 40px;
  background: transparent;
  border: 1px solid #ff7200;
  margin-top: 13px;
  color: black;
  border-right: none;
  font-size: 18px;
  float: left;
  padding: 10px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.sch-btn {
  width: 100px;
  height: 40px;
  background: #ff7200;
  border: 2px solid #ff7200;
  margin-top: 13px;
  color: black;
  font-size: 18px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  transition: 0.2s ease;
  cursor: pointer;
}

.sch-btn:hover {
    color: #000;
}

.sch-btn:focus {
  outline: none;
}

.srch:focus {
  outline: none;
}

@media (max-width: 465px)
    {
        .search
        {
          display: none;
        }
        
        #full
        {
          width: 100%;
        }
    }

:root{
      font-family: "Jost", sans-serif;
      font-size: 16px;
      font-weight: 400;
   }
   
   
   /* carousel */
   .carousel{
      position: relative;
   }
   
   .carousel_inner{
      width: 100%;
      overflow: hidden;
   }
   
   .carousel_inner::after{
      content: "";
      display: block;
      clear: both;
   }
   
   .carousel_item{
      position: relative;
      float: left;
      display: none;
      width: 100%;
      margin-right: -100%;
   }
   
   /* slide effect */
   .carousel_item__active,
   .carousel_item__pos_prev,
   .carousel_item__pos_next{
      display: block;
   }
   
   .carousel_item__pos_prev{
      left: -100%;
   }
   
   .carousel_item__pos_next{
      left: 100%;
   }
   
   .carousel_item__prev{
      transform: translateX(100%);
      transition: transform .5s ease-in-out;
   }
   
   .carousel_item__next{
      transform: translateX(-100%);
      transition: transform .5s ease-in-out;
   }
   
   /* fade effect */
   .carousel__fade .carousel_item__pos_prev,
   .carousel__fade .carousel_item__pos_next{
      left: 0;
      opacity: 0;
   }
   
   .carousel__fade .carousel_item__prev,
   .carousel__fade .carousel_item__next{
      transform: none;
      opacity: 1;
      transition: opacity .5s ease-in-out;
   }
   
   .carousel__fade .carousel_item__active.carousel_item__prev,
   .carousel__fade .carousel_item__active.carousel_item__next{
      opacity: 0;
   }
   
   /* carousel */
   .carousel_img{
      display: block;
      width: 100%;
   }
   
   .carousel_caption{
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      height: 100%;
      padding: 3rem 4rem;
      text-align: center;
      color: #fff;
      z-index: 1;
   }
   
   .carousel_title{
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
   }
   
   .carousel_description{
      margin-top: .75rem;
      line-height: 150%;
   }
   
   .carousel_indicator{
      position: absolute;
      bottom: 1rem;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      flex-direction: row;
      gap: .5rem;
      z-index: 1;
   }
   
   .carousel_dot{
      display: block;
      padding: .25rem;
      background-color: rgba(255, 255, 255, .25);
      border: none;
      border-radius: 50%;
      cursor: pointer;
      transition: background-color .5s ease-in-out;
   }
   
   .carousel_dot__active{
      background-color: lightskyblue;
      cursor: default;
      pointer-events: none;
   }
   
   .carousel_control{
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      height: 100%;
   }
   
   .carousel_button{
      display: block;
      padding-inline: 1rem;
      font-family: "Raleway", sans-serif;
      font-size: 1.375rem;
      background-color: transparent;
      color: rgba(255, 255, 255, .25);
      border: none;
      cursor: pointer;
      transition: color .25s;
      z-index: 1;
   }
   
   .carousel_button:hover{
      color: rgba(135, 206, 250, .75);
   }
/* #cont{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    font-size: 100px;
    padding: 10px;
    overflow: hidden;
}

h1 span{
    display: inline-block;
}
#page3{
    height:100vh;
    width:100%;
    background-color: black;
    padding: 5vw 0;
}
#move{
    background-color: #f4e845;
    display: flex;
    padding: 3vw 0;
    overflow: hidden;
    
}
.marq h1{
    font-size: 50px;
}
.marq{
    display: flex;
    align-items: center;
    gap:3vw;
    padding: 0 1.5vw;
    flex-shrink:0;
    transform: translateX(-100%);
}
.marq img{
    height: 4vw;
} */



.heading
{
    margin: 20px;
    text-align: center;
    font-size: 3rem;
}

.product {
    position: relative;
    overflow: hidden;
    padding: 20px;
  }
  
  .product-category {
    padding: 0 10vw;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 40px;
    text-transform: capitalize;
  }
  
  .product-container {
    padding: 0 10vw;
    display: flex;
    overflow-x: auto;
    border: black;
    scroll-behavior: smooth;
  }
  
  .product-container::-webkit-scrollbar {
    display: none;
  }
  
  .product-card {
    flex: 0 0 auto;
    width: 300px;
    height: 500px;
    margin-right: 40px;
    transition: .5s ease;
  }

  .product-image {
    margin: 1rem;
    position:relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
    border: 1px solid black;
    border-radius: 20px;
    transition: 0.5s ease;
  }

  .product-thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .discount-tag {
    font-size: medium;
    position:absolute;
    background: #EA2006;
    padding: 5px;
    border-radius: 5px;
    color: #fcee1f;
    right: 10px;
    top: 10px;
    text-transform: capitalize;
  }
  
  .card-btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    text-transform: capitalize;
    border: none;
    outline: none;
    background: #EA2006;
    color: white;
    border-radius: 5px;
    transition: 0.5s ease;
    cursor: pointer;
    opacity: 0;
  }

  .product-card:hover .card-btn {
    
    opacity: 1;
  }
  .product-card:hover .product-image
  {
    transform: scale(1.05);
  }
 
  .card-btn:hover {
    background: #fcee1f;
    color: black;
  }
  
  .product-info {
    width: 100%;
    height: 100px;
    padding-top: 10px;
  }
  
  .product-brand {
    font-size: large;
    text-transform: uppercase;
  }
  
  .price {
    font-weight: 900;
    font-size: 20px;
  }
  
  .actual-price {
    margin-left: 20px;
    font-size: large;
    opacity: 0.7;
    text-decoration: line-through;
  }
  
  .pre-btn,
  .nxt-btn {
    border: none;
    width: 7.5vw;
    height: 86%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 75%);
    cursor: pointer;
    z-index: 8;
  }
  
  .pre-btn {
    left: 0;
    transform: rotate(180deg);
  }
  
  .nxt-btn {
    right: 0;
  }
  
  .pre-btn img,
  .nxt-btn img {
    opacity: 75%;
  }
  
  .pre-btn:hover img,
  .nxt-btn:hover img {
    opacity: 1;
  }
  
  .collection-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
  
  .collection {
    position: relative;
  }
  
  .collection img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .collection p {
    position: absolute;
    top: 100%;
    left: 100%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size: 50px;
    text-transform: capitalize;
  }
  
  .collection:nth-child(3) {
    grid-column: span 2;
    margin-bottom: 10px;
  }

.categories-container
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items:center;
    gap: 0.1rem;
}
.categories-container .categories-box
{
  margin: 3rem;
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  border: 2px solid black;
}

.categories-box:hover .card-btn
{
  opacity: 1;
}
.categories-box img
{
  width: 100%;
  transition: .5s ease;
  
}

.categories-box:hover img
{
  transform: scale(1.1);
}


.categories-box .categories-layer
{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0,0,0,.1),#202020);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 4rem;
  transform: translateY(100%);
  transition: .5s ease;
}

.categories-box:hover .categories-layer
{
  transform: translateY(0);
}
.categories-layer h4
{
  font-size: 3rem;
  color: white;
} 
.categories-layer p
{
  font-size: 1.6rem;
  margin: 0.3rem 0 1rem;
  color: white;
} 

.categories-layer .card-btn
{
  font-size: large;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px)
{
  .categories-container{
    grid-template-columns: repeat(2,1fr);
  }
}
@media (max-width: 991px)
{
  .categories
  {
    padding-bottom: 0;
  }
}
@media (max-width: 617px)
{
  .categories
  {
    margin: 0;
  }
  .categories-container
  {
    grid-template-columns: 1fr;
  }
     
}




.search-box{
  width: fit-content;
  height: fit-content;
  position: relative;
}
.input-search{
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all .5s ease-in-out;
  background-color: #22a6b3;
  padding-right: 40px;
  color:#fff;
}
.input-search::placeholder{
  color:rgba(255,255,255,.5);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}
.btn-search{
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color:#ffffff ;
  background-color:transparent;
  pointer-events: painted;  
}
.btn-search:focus ~ .input-search{
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgba(255,255,255,.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
.input-search:focus{
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgba(255,255,255,.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}


* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.about-us {
  max-width: 1000px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  text-align: center;
}

h2, h3 {
  color: #333;
}

h3 {
  margin-bottom: 20px;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .content-container {
      flex-direction: row;
      justify-content: space-between;
  }
}

.video-container {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
  width: 100%;
}

video {
  
  width: 90%;
  height: 40%;
  border-radius: 10px;
}

.text-container {
  font-size:105%;
  text-align: justify;
  margin-top: 20px;
  max-width: 100%;
  align-content: center;
  align-items: center;

}

/* #more-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #ff6600;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor:all-scroll;
}

#more-button:hover {
  background-color: #e65c00;
} */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
 
}

.footer {
  background-color: #fff;
  padding: 20px 0;
  color: #000;
}

.footer-newsletter {
  background-color: #ffd700;
  padding: 20px;
  text-align: center;
}

.footer-newsletter h2 {
  margin: 0;
  font-size: 1.5rem;
}

.footer-newsletter p {
  margin: 10px 0;
}

.newsletter-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.newsletter-form input {
  padding: 10px;
  border: none;
  border-radius: 4px;
  width: 250px;
}

.newsletter-form button {
  padding: 10px 20px;
  border: none;
  background-color: #ff0000;
  color: #fff;
  border-radius: 4px;
  margin-left: 10px;
  cursor: pointer;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color: #f8f8f8;
}

.footer-section {
  flex: 1;
  padding: 1 10px;
}

.footer-section h3 {
  margin-top: 0;
  font-size: 1.2rem;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin: 10px 0;
}

.footer-section ul li a {
  color: #000;
  text-decoration: none;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

.payment-methods {
  display: flex;
  align-items: center;
  width: 100%;
  image-resolution: 100%;
  border-image: fill;
}

.payment-methods img {
  margin: 0 5px;
  width: 300px;
}

.footer-bottom {
  text-align: center;
  padding: 10px 0;
  background-color: #ddd;
}

.footer-bottom p {
  margin: 0;
  font-size: 0.9rem;
}


#backToTopBtn {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: white; 
    color: black;
    cursor: pointer; 
    padding: 15px; 
    border-radius: 50%; 
    font-size: 20px; 
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3); 
    transition: .5s ease;
}
#backToTopBtn:hover {
    background-color: yellow; 

}


